<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/loginpage/stylelogin.css">
    
</head>
<body>
    <div class="container">
        <!-- Left Section -->
        <div class="left-section">
            <div class="logo">
                <span><span class="highlight">2</span>Design</span>
            </div>
        </div>

        <!-- Right Section -->
        <div class="right-section">
            <div class="right-header">
                <h1>Welcome back!</h1>
                <p>Join now in every creator's favorite design marketplace.</p>
            </div>
                <form action="/login" method="POST">
                    <label for="usernameOrEmail">Username or Email</label>
                    <input type="text" id="usernameOrEmail" name="usernameOrEmail">
    
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                    
                    <a href="#" class="forgot-password">Forgot password?</a>
                    <button type="submit" class="login-btn">Login</button>
                </form>

            <div class="social-login">
                <p>Or</p>
                <button class="google-login">
                    <img src="/icon/Google.svg" alt="Icon 1"></a> Login with Google
                </button>
                <button class="apple-login">
                    <img src="/icon/Apple.svg" alt="Icon 1"></a> Login with Apple
                </button>
            </div>
            <p class="signup-text">Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>
    <script src="script.js"></script></script>
</body>
</html>



