/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    background: linear-gradient(to bottom, #17161B, #812B5C);
}

/* Main Container */
.container {
    display: flex;
    width: 70%; /* sebelumnya 80% */
    max-width: 800px; /* sebelumnya 1200px */
    height: 70%; /* sebelumnya 80% */
    background: #1C1A21;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Left Section */
.left-section {
    flex: 1;
    width: 500px; /* sebelumnya 771px */
    height: 800px; /* sebelumnya 1169px */
    padding: 30px 40px; /* sebelumnya 58px 61px */
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; /* sebelumnya 10px */
    flex-shrink: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url('loginpagephoto.png') lightgray 50% / cover no-repeat;
}

.left-section .logo {
    color: #FFF;
    font-family: Montserrat;
    font-size: 40px; /* sebelumnya 55px */
    font-weight: 600;
    line-height: normal;
}

.left-section .logo .highlight {
    color: #AB405C;
}

/* Right Section */
.right-section {
    flex: 1;
    background: linear-gradient(to bottom, #1C1A21, #2A152C);
    color: #fff;
    padding: 20px; /* sebelumnya 40px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.right-header {
    margin-bottom: 40px; /* sebelumnya 55px */
}

.right-header h1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 30px; /* sebelumnya 40px */
    font-weight: 600;
}

.right-header p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px; /* sebelumnya 16px */
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    align-self: stretch;
}

label {
    font-size: 0.9rem;
    color: #aaa;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

form input::placeholder {
    color: #666;
}

.forgot-password {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 14px; /* sebelumnya 17px */
    font-weight: 600;
    align-self: stretch;
}

.forgot-password:hover {
    text-decoration: underline;
}
/* Social Login */
.social-login {
    margin-top: 20px;
    text-align: center;
}

.social-login p {
    margin-bottom: 10px;
    color: #aaa;
}
.login-btn {
    padding: 10px;
    background: #AB405C;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    height: 45px; 
    border-radius: 30px;
}
.login-btn:hover {
    background: #FF507D;
}

button.google-login{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    background: #4077c9;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}
button.apple-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    background: #04060a;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

button.google-login img,
button.apple-login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button.google-login:hover,
button.apple-login:hover {
    background-color:#AB405C ;
    border-color: #f06292;
}

.signup-text {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem; /* sebelumnya 0.9rem */
    color: #aaa;
}

.signup-text a {
    color: #AB405C;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
